.container {
  transition: all 0.3s ease-in-out;
  border: 0.3px solid rgba(68, 68, 68, 0.17);
}

.container:hover{
  transform: scale(1.025);
  cursor: pointer;
  opacity: 0.6;
  border: 1.1px solid rgba(68, 68, 68, 0.633);
}

.image{
  width: 11vw;
  height: 14vw;
  border-top-left-radius: 20px;
  padding-bottom: 1vw;
}